<ion-view view-title="Activity">
  <ion-content class="padding">
    <div class="list card" ng-controller="DashCtrl" ng-repeat="msg in messages | limitTo:5 | filter:{isRead: 'false'}">
      <div class="item item-divider" > {{msg.title}}</div>
      <div class="item item-body" >
        <div >
          
          {{msg.body}}

        </div>
      </div>
      <button class="button button-block button-positive" ng-click="setAsRead(msg)">Mark as read</button>
    </div>
    <div class="list card">
      <button class="button button-block icon ion-plus-circled button-balanced"></button>
    </div>
  </ion-content>
</ion-view>
