
<ion-tabs class="tabs-icon-top tabs-color-active-dark tabs-calm">

  
  <ion-tab title="Activity" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

 
  <ion-tab title="Notifications" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats" badge="msg.Count" badge-style="badge-assertive">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
